<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/lib/jquery-1.8.0.min.js"></script>
<script src="/lib/swagger-oauth.js"></script>
</head>
<body id="oauth-authorize">
	<header>
		<h1></h1>
		<p>
			<strong>Please enter your credentials</strong>
		</p>
	</header>
	<section>
		<form method="POST" id="oauth-authorize-login" th:action="${swaggerLoginFormAction}">
			<div>
				<button type="button" id="deny">
					<span>Cancel and go back</span>
				</button>
				<button type="button" id="allow">
					<span>Allow</span>
				</button>
			</div>
			<div>
				<input name="response_type" id="response_type" type="hidden" value="token"/>
				<input name="client_id" id="client_id" type="hidden" th:value="${swaggerClientId}"/> 
				<input name="redirect_uri" id="redirect_uri" type="hidden" th:value="${swaggerRedirectUri}" />
				<input name="username" id="username" type="text" placeholder="Username" value="user"></input> <label for="password">Password</label>
				<input name="password" id="password" type="password" placeholder="Password" value="password"></input>
				<button type="submit" id="login" name="login">
					<span>Confirm</span>
				</button>
			</div>
		</form>
	</section>
</body>
</html>