<html xmlns:th="http://www.thymeleaf.org">
<body id="oauth-authorize">
	<header>
		<h1></h1>
		<p>
			<strong>Please enter your credentials</strong>
		</p>
	</header>
	<section>
		<form method="POST" id="oauth-authorize-login" th:action="${swaggerLoginFormAction}">

			<div>
				<input name="response_type" id="response_type" type="hidden" th:value="${response_type}"/>
				<!--input name="realm" id="realm" type="hidden" th:value="${realm}"/-->
				<input name="client_id" id="client_id" type="hidden" th:value="${swaggerClientId}"/> 
				<input name="redirect_uri" id="redirect_uri" type="hidden" th:value="${redirect_uri}" />
				<label for="username">Username:</label>
				<input name="username" id="username" type="text" placeholder="Username" th:value="${username}"/> <label for="password">Password:</label>
				<input name="password" id="password" type="password" placeholder="Password" th:value="${password}"/><br/>
				<button type="submit" id="login" name="login">
					<span>Confirm</span>
				</button>
			</div>
		</form>
	</section>
</body>
</html>